body{
font-family: Arial;
text-align: center;
background: #111;
color: white;
}

button{
padding: 15px;
font-size: 18px;
margin: 20px;
cursor: pointer;
}

canvas{
border-radius: 20px;
margin-top: 20px;
}